* {
  margin: 0;
  padding: 0;
}

body {
  background: url('bg-image.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  width: 50%;
  text-align: center;
  margin: 100px auto;
  color: #fff;
}

#heading-title {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-top: 20px;
  font-size: 3.5em;
  text-shadow: 5px 2px 8px red;
}

.number-container {
  align-content: center;
  margin: 25px;
  padding: 25px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 6em;
}

.btn {
  border-radius: 5px;
  border: none;
  outline: none;
  /* font-size: 1em; */
  margin: 12px;
  padding: 13px 15px;
  text-transform: uppercase;
  width: 30%;
}

.btn:hover {
  box-shadow: 0px 0px 18px 8px #fff;
  border: none;
  outline: none;
  transition: 0.5s ease-in-out;
}